.about-img{
    width: 300px;
    border-radius: 20px;
}
.about-img:hover{
    transform: rotate(2deg);
    transition: 0.5s;
    cursor:crosshair;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.about-title
{
    position: relative;
}
.about-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.about-title img{
    width: 200px;
    position: absolute;
    bottom:0;
    right: 0px;
    z-index:-1;
}
.about-section{
    display: flex;
    gap: 80px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background:linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achivments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achivment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    transition: 0.5s;
}
.about-achivment h1{
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-achivment p {
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
    cursor:pointer;
}
.about-achivment:hover{
    transform: scale(1.12);
    transition: 0.5s;
    cursor:cell;
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }
    .about-title h1{
        padding: 0px;
        font-size: 50px;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-section{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    /* .about-left{
        display: none;
    } */
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achivments{
        justify-content: space-between;
    }
    .about-achivment{
        gap: 10px;
    }
    .about-achivment h1{
        font-size: 50px;
        text-align: center;
        font-weight: 700;
    }
    .about-achivment p{
        font-size: 16px;
        text-align: center;
    }
}

@media(max-width:380px){
    .about{
        gap: 80px;
        margin: 50px 30px;
        align-items: center;
    }
    .about-title h1{
        padding: 0px;
        font-size: 40px;
    }
    .about-title img{
        width: 100px;
        right: -20px;
    }
    .about-section{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    /* .about-left{
        display: none;
    } */
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achivments{
        justify-content: space-between;
    }
    .about-achivment{
        gap: 10px;
    }
    .about-achivment h1{
        font-size: 50px;
        text-align: center;
        font-weight: 700;
    }
    .about-achivment p{
        font-size: 16px;
        text-align: center;
    }
}